@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

body {
    height: 100vh;
    font-family: 'Kumbh Sans', sans-serif;
    /* background: url(../images/bg-pattern-bottom.svg) bottom -610px right -250px no-repeat, url(../images/bg-pattern-top.svg) top -500px left -290px no-repeat; */
    background-color: hsl(185, 75%, 39%);
    text-align: center;
    
}

#img-top{
    right: 49%;
    bottom: 43%;
    position: fixed;
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 0.6);
    z-index: -1;
}

#img-bottom{
    top: 50%;
    left: 48.5%;
    position: fixed;
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 0.6);
    z-index: -1;
}


.container{
    min-width: 400px;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#main{
    margin: auto;
    display: flex;
    flex-direction: column;
}
#main #header{
    width: 350px;
    height: 140px;
    border-radius: 20px 20px 0 0;
    background: url(../images/bg-pattern-card.svg);
    
}
#main #hero{
    width: 350px;
    height: 150px;
    background-color: white;
}

#main #footer{
    width: 350px;
    height: 90px;
    background-color: white;
    border-top: 1px solid black;
    border-radius: 0 0 20px 20px;
}

#main #hero img{
    border-radius: 50%;
    transform: translateY(-50%);
    border: 7px solid white;
    background-color: white;
}
#main #hero p{
    font-weight: bold;
    margin-top: -40px;
}
#main #hero p #age{
    font-weight: normal;
    color: hsl(0, 0%, 59%);
}
#main #hero p #place{
    font-size: 13px;
    font-weight: normal;
    color: hsl(0, 0%, 59%);
}
#footer{
    display: flex;
    flex-direction: row;
    justify-content:center;
    padding: 20px;
    line-height: 150%;
    box-sizing: border-box;
}
#footer p{
    font-weight: bold;
}
#footer p span{
    font-size: 13px;
    font-weight: normal;
    color: hsl(0, 0%, 59%);
    
   
}
#footer-element1{
   margin-left: -10px;
    margin-right:50px;
    
}
#footer-element2{
  
    margin-right: 50px;
    
}

.attribution { min-width: 400px; font-size: 11px; text-align: center; margin-top: -50px;}
.attribution a { color: white }


